body{
    margin: 0
}
.page-section{
    width: 100%;
    color: #ffffff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.page-section .title, .page-section .desc{    
    margin-left: 4%;
    margin-right: 4%;
}
.page-section .title {
    font-size: 2rem;
    position: relative;
    top: 30%;
    padding-bottom: 25px;
    font-family: 'Lato', sans-serif;
}
.page-section .desc {
    font-size: 1rem;
    position: relative;
    top: 35%;    
    font-family: 'Lato', sans-serif;
}
.text-container, .img-container {
    width: 100%;
    position: relative;
}
.img-desc {
    filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.6));
}

#index{
 background: linear-gradient(to bottom right, #414d0b, #727a17); /* Standard syntax */
 text-align: center;
 height: 100vh;
}
#index .img-desc{    
    position: relative;
    top: 46%;
}
#index .btn-container{
    position: relative;
    top: 40%;
    text-align: center;
    left: 50%;
    width: 4em;
}
#index .btn{
    font-size: 2em;
    border: 2px solid #ffffff;
    background: transparent;
    color: #fff;
    width: 2em;
    height: 2em;
    line-height: 2;
    border-radius: 50%;
    position: relative;
    text-shadow: none;
    filter: drop-shadow(0px 6px 6px rgba(0,0,0,0.3));
    transition: all 0.5s ease-out;
}
#index .btn:focus {
    filter: drop-shadow(0px 12px 6px rgba(0,0,0,1));
}
#index .btn:not(:active)::before {
    outline: 0;
    color: #fff;
    width: 2em;
    height: 2em;
    animation: ripple 0.8s ease-out;
}
#index .btn:before {
    content: '';
    background-color: aliceblue;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(0);
    visibility: hidden;
}
#index .btn-ripple:before{
    visibility: visible !important;
}
#device{
 background: linear-gradient(to bottom right, #603813, #BF9294); /*Standard syntax */
 text-align: center;
}
#device .text-container{
    padding-top: 30%;
}
#device .img-desc{    
    position: relative;
    margin: 30% 0 30% 15%;
}
#browser{
 background: linear-gradient(to bottom right, #73C8A9, #373B44); /* Standard syntax */
 text-align: center;
}
#browser .text-container {
    padding-bottom: 30%;
}
#browser .img-desc {
    margin: 30% 0 0 0;
}
#platform{
 background: linear-gradient(to bottom right, #00bf8f, #001510); /* Standard syntax */
 text-align: center;
}
#platform .text-container{
    padding-top: 30%;
}
#platform .img-desc {
    margin-bottom: 30%;
}
#feature{
 background: linear-gradient(to bottom right, #833ab4, #fd1d1d, #fcb045); /* Standard syntax */
 text-align: center;
}
#feature .text-container{
    padding-top: 30%;
}
#feature .img-desc {
    margin-bottom: 30%;
}
@keyframes ripple{
    0%{
        transform: scale(0);
    }
    20%{
        opacity: 0.3;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(1);
    }
}
.support{
    color: #fff;
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 6;
}
.support .btn, .support ul>li .sub-btn{   
    background-color: #3F51B5;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    box-shadow: 0px 6px 8px 1px rgba(0, 0, 0, 0.3), 0px 12px 15px rgba(0,0,0,0.1);
    font-size: 2em;
    text-align: center;
    line-height: 2;
    position: relative;  
    transition: all 0.3s ease-out;
}
.support .btn:before, .support ul>li .sub-btn::before{ 
    content: '';
    background-color: aliceblue;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: scale(0);
    visibility: hidden;   
}
.support .btn:not(:active)::before, .support ul>li .sub-btn:not(:active)::before {
    outline: 0;
    color: #fff;
    width: 2em;
    height: 2em;
    animation: ripple 0.8s ease-out;
}
.support .btn:active, .support ul>li .sub-btn:active{
    box-shadow: 0px 12px 15px 1px rgba(0, 0, 0, 0.3), 0px 24px 26px 0px rgba(0,0,0,0.1);
}
/*.support .btn:hover::before, .support ul>li .sub-btn:hover::before{ 
    visibility: visible;
}*/
.support .btn-ripple:before, .support ul>li .sub-btn-ripple:before{
    visibility: visible !important;
}
.support ul{
    position: absolute;
    bottom: 4em;
    right: 0;
    visibility: hidden;
    /*opacity: 0;
    transition: visibility 0s ease-out, opacity 300ms ease-out;*/
}
.support ul>li{
    list-style: none;
    margin-bottom: 0.5em;
    transform: scaleY(0.4) scaleX(0.4) translateY(4em) translateX(0em);
    opacity: 0;
    transition: all 300ms cubic-bezier(0.0, 0.0, 0.2, 1);
}
/*.support:hover ul{
    visibility: visible;
    /*opacity: 1;*/
/*}*/
/*.support:hover ul>li{    
    transform: scaleY(0.6) scaleX(0.6) translateY(0em) translateX(0em);
    opacity: 1;
}*/
.visible{
    visibility: visible !important;
}
.liAnimation{
    transform: scaleY(0.6) scaleX(0.6) translateY(0em) translateX(0em) !important;
    opacity: 1 !important;
}
.support ul>li a, .support ul>li a:visited{
    color: #fff;
}

.bg-pink{
    background-color: #E91E63 !important;
}

.bg-red{
    background-color: #F44336 !important;
}

.bg-purple{
    background-color: #9C27B0 !important;
}

.bg-teal{
    background-color: #009688 !important;
}

.bg-orange{
    background-color: #E65100 !important;
}

.nav{
    position: fixed;
    top:0;
    width: 100%;
    color: #fff;
}

.nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0);
}

.nav ul li{
    float: right;
    padding: 10px 5px;
}

.nav ul li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #fff;
}

.nav ul li.title{
    float: left;
}

footer{
    width: 100%;
    color: #fff;
    font-family: 'Lato', sans-serif;
    padding: 12px 0 0 0;
    background: #bc4e9c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f80759, #bc4e9c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f80759, #bc4e9c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

footer .f-container{
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto;
}

.f-container:first-child {
    padding: 24px;
}

footer .f-section{
    width: 100%;
    /*padding: 0 0 0 12px*/
}

footer .f-list{
    list-style-type: none;
}

footer .f-list li:not(:last-child){
    margin-bottom: 5px;
}

footer a.f-link, a.f-link:visited{
    color: #fff;
    text-decoration: none;
}

footer .f-copy{
    width: 100%;
    position: relative;
    padding: 10px 0 10px 0;   
    background: rgba(0, 0, 0, 0.2);
}

footer .f-copy::after{    
    position: absolute;
    content: ' ';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; 
    -webkit-filter: blur(3px); /* Safari 6.0 - 9.0 */
    filter: blur(3px);
    background-blend-mode: exclusion;
}

footer .f-copy p{
    text-align: center;
}

@media screen and (min-width:1008px){
    .page-section{
        height: 100vh;
    }
    .page-section .title {
        font-size: 4rem;
    }
    .page-section .desc {
        font-size: 1.5rem;
    }
    .text-container, .img-container {
        width: 50%;
        position: relative;
    }
    
    #index{
        padding: 0;
    }

    #device .text-container{
        position: relative;
        top: 40%;
        float: left;
        padding-top: 0;
    }
    #device .img-container{
        float: right;
    }
    #device .img-desc{    
        position: relative;
        margin: 30%;
    }

    #browser{
     text-align: right;
    }
    #browser .text-container{
        position: relative;
        top: 40%;
        float: right;
    }
    #browser .img-container{
        float: left;
    }
    #browser .img-desc {
        position: absolute;
        left: 10%;
        margin: 30%;
    }
    
    
    #platform{
    text-align: left;
    }
    #platform .text-container{
        position: relative;
        top: 40%;
        float: left;
        padding-top: 0;
    }
    #platform .img-container{
        float: right;
    }
    #platform .img-desc {
        position: absolute;
        left: 10%;
        margin: 30%;
    }

    #feature{
    text-align: right;
    }
    #feature .text-container{
        position: relative;
        top: 40%;
        float: right;
        padding-top: 0;
    }
    #feature .img-container{
        float: left;
    }
    #feature .img-desc {
        margin: 30%;
    }

    footer{
        padding: 24px 0 0 0;
    }

    footer .f-container{
        grid-template-columns: auto auto auto;
    }

    /*.support{
        color: #fff;
        position: fixed;
        bottom: 1em;
        right: 4em;
    }
    .support .btn:hover{
        box-shadow: 0px 12px 15px 1px rgba(0, 0, 0, 0.3), 0px 24px 26px 0px rgba(0,0,0,0.1);
    }*/
}